@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,800&display=swap');
*{
    font-family: 'Work Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

*{
    box-sizing: border-box;
}
.nav-container{
    min-height: 50px;
    max-width: 1400px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.logo-container{
    display: flex;
    width: 50%;

}
.logo-container img{  
    width: 100px;
    object-fit: contain;
    margin-left: 40px;
}
.text-primary{
color: #ff42a5;
}

.logo-container p{
    font-size: 45px;
    font-family: 'Work Sans';
    font-weight: 700;
    
}

.nav-items-container{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-items-container a{
    text-decoration: none;
    justify-content: space-between;
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    

}
.follow-btn{
    width: 200px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 8px;
    border: none;
    margin-top: 17px;
    margin-bottom: 18px;
    margin-right: 10px;
    background: rgba(11, 2, 35, 0.10);
    
}

.banner-container1{
  margin: 50px auto 0;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fcfbfc;
}
.svg{
    margin-left: 30px;
}

.banner-title{
color: #0B0223;
text-align: center;
font-family: ''Work Sans;
font-size: 48px;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
margin-left: 20px;
}

.banner-heading{
    text-align: center;
    font-family: 'Work Sans';
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}
.first, .third{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px; 
    border-radius: 48px;
    background-color: #FF42A5;
}
.third{
    margin-left: 280px;
   } 
.second{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px; 
    border-radius: 48px;
    background-color: #087cd5;
}

.banner-container2{
    margin:50px auto 0;
    max-width: 1400px;
    min-height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(244, 233, 235);
    }

.banner-title2{
    text-align: center;
    font-family: 'Work Sans';
    font-size: 48px;
    font-weight: 700;
    margin-left: 160px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.mission{
    color: #534C64;
    font-family: 'Work Sans';
    text-align: right;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
    margin-right: 10px;
}

.steeps{
color: #534C64;
font-family: 'Work Sans';
font-size: 32px;
font-weight: 700;
line-height: 45px;
text-align: right;
margin-right: 10px;
}
.globe{
    text-align: right;
    margin-right: 10px;
}
  .banner-container3{
    margin:50px auto 0;
    max-width: 1400px;
    height: 600px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(247, 244, 244);
    }
.banner-title3{
    
    text-align: center;
    margin-left: 25opx;
    font-family: 'Work Sans';
    font-size: 48px;
    font-weight: 700;
    }        

.banner-title-description{
    text-align: center;
    font-family: 'Work Sans';
    background-clip: text;
    margin-top: 2px;
    }

    .image-container{
        display: flex;
        justify-content: space-between;
        margin-left: 30px;
        margin-bottom: 5px;
    }

.banner-img{
    margin:50px 
    max-width: 1400px;
    min-margin: 50 auto 0
}

.banner-container4{
    margin:50px auto 0;
    max-width: 1400px;
    height: 600px;
    display: flex;
    background-color: white;
    }

.banner-title4{
    font-family: 'Work Sans';
    font-size: 48px;
    text-align: right;
    font-weight: 700;
    margin-left: 70px;
    margin-top: 130px;
    justify-content: center;
}
.banner-title-description2{
    color: #534C64;
    font-family: 'Work Sans';
    font-size: 18px;
    text-align: right;
    margin-right: 10px;
    font-weight: 200;
}

.image-container1{
    position: relative;
    display: inline-block;
    border-radius: 8px;
    margin-left: 350px;
  }
  
  .corner-image {
    position: absolute;
    bottom: -120px; 
    left: -120px; 
    border-radius: 8px;
  }
  
  .banner-button2{
    margin:50px auto 0; 
    height: 80px;
    border: none;
    cursor: all-scroll;
  }
  .knob{
    border-radius: 50px;
    margin-top: 150px;
    color: #0B0223;
    font-family: 'Work Sans';
    font-size: 40px;
    text-align: center;
    border-color: #F948B2;
    padding: 20 25;
  }
.ending{
        margin:50px auto 0;
        max-width: 1400px;
        min-height: 600px;
        background: #000f0f;
        display: flex;
        color: white; 
        font: 1em sans-serif;
        font-weight: 300;
        text-align: center;
      
    }
}
.li{
    display: flex;
}
.logo-container5 img{  
width: 100px;
object-fit: contain;
margin-top: 50px;
margin-left: 600px
}
.Facilities{
    display: flex;
    justify-content: space-between;
    font: 1em sans-serif;
    font-weight: 300;
}

  